body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.top_section {
	border-bottom: 1px solid #000;
	padding: 25px 0;
}
header .logo {
	text-align: center;
}
header .logo:hover {
	opacity: .8;
	transition: all .2s ease 0s; 
}
a {
	border: none;
	outline: none !important;
	text-decoration: none !important;
}
.h_sohialwrap a{	
	color: #636363;
	height: 100%;
	width: 100%;
}
.h_sohialwrap  ul {
	text-align: center;
	padding: 0;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.h_sohialwrap  li{
	display: inline-block;
	list-style-type: none;
}
.h_sohialwrap i {
	margin: 3px;
	font-size: 18px;
}
.h_sohialwrap a:hover i {
	color: #FB5F84;
}


header .search {
	float: right;
}
header .search {
	height: 32px;
	width: 32px;
	background-color: #FB5F84;
	text-align: center;
	border-radius: 50%;
	margin-top: 20px;
	border: none;
}
header .search i {
	font-size: 13px;
	color: #fff;
	line-height: 30px;
}
header .search:hover {
	opacity: .8;
	cursor: pointer;
}
header .but_active {
	transition: all .5s ease 0s;
	opacity: .8;
	cursor: pointer;
}
header .hsearch {
	position: absolute;
	top: 20px;
	width: 160px;
	right: -50px;
	opacity: 0;
	border: none;
	font-size: 12px;
	padding: 8px 10px;
	text-transform: uppercase;
	cursor: default;
	transition: all 1s ease 0s;
	z-index: -1;
}
header .hsearch.hactive {
	opacity: .5;
	cursor: text;
	right: 55px;
	z-index: 1;
}





.top_menu li{
	display: inline-block;
	list-style-type: none;
	padding: 10px 25px;
	position: relative;
}
.top_menu ul {
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #fff;
	z-index: 1;
}
.top_menu a {
	font-size: 14px;
	color: #000;
	letter-spacing: 0.5;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "SourceSansProRegular";
}
.top_menu li:hover>a{
	color: #FB5F84;
}
.top_menu i {
	padding-left: 5px;
	opacity: .6;
	color: #000;
}
.top_menu ul ul li {
	display: block;
	width: 160px;
	height: 100%;
	padding: 5px 10px;
	margin: 0 10px;
	border-bottom: 1px dotted #000;
}
.top_menu ul ul {
	position: absolute;
	left: 0;
	top: 45px;
	padding-top: 11px;
	display: none;
}
.top_menu ul ul a {
	width: 145px;
	height: 25px;
	text-align: left;
	display: block;
}
.top_menu ul ul li:last-child {
	border: none;
}
.top_menu ul ul ul {
	position: absolute;
	top: 0px;
	left: 150px;
}




.pr_slaider li{
	list-style-type: none;
}
.pr_slaider {
	position: relative;
}
.pr_slaider .slaid>ul>li {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
.pr_slaider .slaid>ul {
	height: 570px;
	width: 100%;
	position: absolute;
	padding: 0;
	margin: 0;
}
.pr_slaider .sl:nth-child(1) {
	background-image: url(img/slider3-1665x550.jpg);
	display: list-item;
}
.pr_slaider .sl:nth-child(2) {
	background-image: url(img/slider2-1665x550.jpg);
}
.pr_slaider .sl:nth-child(3) {
	background-image: url(img/slider1-1665x550.jpg);
}
.pr_slaider .sl:nth-child(4) {
	background-image: url(img/single-new3-1665x550.jpg);
}
.pr_slaider .sl:nth-child(5) {
	background-image: url(img/breakfast-1665x550.jpg);
}

.pr_slaider .sl {
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
.pr_slaider .sl>span {
	left: 60px;
	top: 30px;
	position: absolute;
}
.pr_slaider .slaid_opis {
	position: absolute;
	left: 60px;
	bottom: 40px;
	width: 500px;
	height: auto;
	background-color: #fff;
	display: block;
	padding: 20px;
}
.pr_slaider .slaid_opis ul:nth-child(1) {
	float: left;
	padding: 0;
	font-family: "SourceSansProRegular";
}
.pr_slaider .slaid_opis ul:nth-child(1) li {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	opacity: .6;
	color: #000;
	padding: 0;
}
.pr_slaider .slaid_opis ul:nth-child(1) a {
	color: #000;
}
.pr_slaider .slaid_opis ul:nth-child(1) li:nth-child(2){
	border: 1px solid #9b9b9b;
	content: "";
	display: inline-block;
	height: 5px;
	position: relative;
	top: -1px;
	left: 1px;
	transform: rotate(45deg);
	vertical-align: middle;
	width: 5px;
	margin: 0 2px;
}
.pr_slaider .slaid_opis ul:nth-child(2) {
	float: right;
}
.pr_slaider .slaid_opis ul:nth-child(2) li {
	display: inline-block;
	margin: 0 2px;
}
.pr_slaider .slaid_opis ul:nth-child(2) li a{
	color: #000;
	opacity: .3;
	position: relative;
}
.pr_slaider .slaid_opis ul:nth-child(2) li a span {
	position: absolute;
	left: -45px;
	right: 0;
	height: 25px;
	width: 30px;
	text-align: center;
	line-height: 25px;
	background-color: #FB5F84;
	color: #fff;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	font-size: 12px;
	transition: all .5s ease 0s;
}
.pr_slaider .slaid_opis ul:nth-child(2) li:hover:nth-child(1) a span {
	opacity: 1;
	visibility: visible;
}
.pr_slaider .slaid_opis ul:nth-child(2) li:nth-child(1) a span:hover {
	opacity: 1;
}
.pr_slaider .slaid_opis ul:nth-child(2) li:hover a{
	color: #FB5F84;
	opacity: 1;	
}
.pr_slaider .slaid_opis ul:nth-child(2) li:nth-child(3) ul {
	position: absolute;
	top: 15px;
	right: 40px;
	background-color: #FB5F84;
	padding: 3px 10px;
	visibility: hidden;
	opacity: 0;
	transition: all .25s ease 0s;
}
.pr_slaider .slaid_opis ul:nth-child(2) li:nth-child(3) ul li a{
	color: #fff;
	opacity: 1;
	font-size: 14px;
}
.pr_slaider .slaid_opis ul:nth-child(2) li:hover:nth-child(3) ul {
	visibility: visible;
	opacity: 1;
}
.pr_slaider .slaid_opis h3 a {
	float: left;
	display: block;
	font-size: 26px;
	color: #000;
	margin-bottom: 55px;
	font-family: "PlayfairDisplayRegular";
}
.pr_slaider .slaid_opis h3:hover a {
	color: #FB5F84;
}
.pr_slaider .slaid_opis>a {
	color: #000;
	opacity: .6;
	border: 1px solid #000;
	padding: 6px 6px;
	font-size: 12px;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	bottom: 25px;
	font-family: "PlayfairDisplayBold";
	transform: translate(-50%, 0);
}
.pr_slaider .slaid_opis>a:after,
.pr_slaider .slaid_opis>a:before {
	border: 1px solid #000;
	content: "";
	display: inline-block;
	height: 5px;
	position: relative;
	top: -1px;
	transform: rotate(45deg);
	vertical-align: middle;
	width: 5px;
	margin: 0 8px;
}
.pr_slaider .slaid_opis>a:hover {
	background-color: #FB5F84;
	opacity: 1;
	color: #fff;
	border: #fff;
}
.pr_slaider .slaid_opis>a:hover:after,
.pr_slaider .slaid_opis>a:hover:before {
	border: 1px solid #fff;
}




.pr_slaider .slaidi ul{
	background-color: rgba(255, 255, 255,.8);
	width: 350px;
	height: 520px;
	overflow: auto;
	padding: 0;
	margin: 25px 0;
}
.pr_slaider .slaidi ul li {
	width: 310px;
	height: 150px;
	margin: 20px 20px 0;
	position: relative;
}
.pr_slaider .slaidi img{
	width: 180px;
	height: auto;
}
.pr_slaider .slaidi li>a {
	overflow: hidden;
	height: 140px;
	width: 180px;
	float: left;
	margin-right: 15px;
	display: inline-block;
}
.pr_slaider .slaidi li h3,
.pr_slaider .slaidi time {
	float: right;
}
.pr_slaider .slaidi li h3 {
	margin: 4px 0 0;
}
.pr_slaider .slaidi li h3 a{
	font-size: 16px;
	display: block;
	width: 115px;
	letter-spacing: 0.5px;
	line-height: 22px;
	color: #000;
	font-family: "PlayfairDisplayRegular";
}
.pr_slaider .slaidi li h3 a:hover {
	color: #FB5F84;
}
.pr_slaider .pn_categori {
	text-transform: uppercase;
	font-size: 11px;
	color: #fff;
	height: 30px;
	padding: 4px 10px 0;
	letter-spacing: 0.5;
	width: 50px;
	border-radius: 5px;
	font-family: "AaarghBold";
}
.pn_categori.pn_Beauty {
	background-color: #FB5F84;
}
.pn_categori.pn_life {
	background-color: #5C9852;
}
.pn_categori.pn_food {
	background-color: #89BBF2;
}
.pr_slaider .slaidi time {
	font-size: 11px;
	width: 115px;
	display: block;
	margin: 0;
	opacity: .6;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-family: "SourceSansProRegular";
}
