@use 'vars' as *;
@use 'mixin' as *;

body {
    background: $black2;
    background: $bgGradient1;
}

.header {
    position: fixed;
    background: $bgGradient2;
    width: 100%;
    z-index: 2;
    height: 90px;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 90px;
        width: 100%;
        z-index: -1;
        pointer-events: none;
        backdrop-filter: blur(42px);
        mask-image: linear-gradient(to bottom, $black 60%, transparent 100%);
    }
    > nav {
        display: flex;
        max-width: 1440px;
        padding: 0 20px;
        margin: 0 auto;
        height: 100%;
        align-items: center;
        gap: 50px;
        justify-content: space-between;
    }
    &-naw {
        gap: 30px;
        display: flex;
        flex-grow: 1;
        &__close, &__btn {
            display: none;
        }
        > * {
            padding: 12px;
            font-weight: 600;
            transition: .3s;
            &:hover {
                color: $blue;
            }
        }
        .sab-menu::after {
            content: "";
            border: 4px solid transparent;
            border-left-color: $white;
            right: -6px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.3s;
        }
    }
    &-right {
        display: flex;
        > * {
            padding: 12px;
            cursor: pointer;
        }
        .sab-wrap {
            right: 0;
        }
        .icon {
            width: 20px;
            height: 20px;
            fill: $white;
            transition: .4s;
            &:hover {
                fill: $blue;
            }
        }
    }
}

.basket {
    padding: 34px 17px 12px 24px;
    position: fixed;
    right: -30vw;
    transition: 0.5s;
    top: 0;
    bottom: 0;
    width: 30vw;
    background: $dark;
    z-index: 2;
    border-radius: 32px 0 0;
    &.open {
        right: 0vw;
        box-shadow: $shadow2;
    }
    &__title {
        font-size: 28px;
        font-weight: 600;
    }
    .icon {
        max-width: 90px;
        max-height: 80px;
    }
    &-wrap {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__empty {
        margin-top: 20px;
        font-size: 18px;
        line-height: 25px;
    }
}

.sab {
    &-menu {
        position: relative;
        display: flex;
        &:hover {
            &:after {
                transform: translateY(-50%) rotate(90deg);
                border-left-color: $blue;
                top: 54%;
                right: -4px;
            }
            .sab-wrap {
                pointer-events: initial;
                opacity: 1;
            }
            .icon {
                fill: $blue;
            }
        }
    }
    &-wrap {
        bottom: 0px;
        transform: translateY(100%);
        position: absolute;
        pointer-events: none;
        opacity: 0;
        transition: .3s;
        z-index: 2;
        min-width: 240px;
        &:hover {
            pointer-events: initial;
            opacity: 1;
        }
    }
    &-content {
        background: $dark;
        border-radius: 6px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        color: $white;
        font-weight: 400;
        > a {
            padding: 12px;
            font-size: 18px;
            line-height: 25px;
            transition: .3s;
            &:hover {
                border-radius: 4px;
                background: $dark2;
            }
        }
    }
}

.swiper {
    width: 100%;
    padding: 150px 0 100px;
    &-slide > div {
        transform: scale(0.85);
    }
    &-slide-active > div {
        transform: scale(1);
        opacity: 1;
    }
    &-pagination {
        margin-top: 20px;
        &-bullet {
            height: 15px;
            width: 15px;
            background-color: $darkBlue;
            transition: .3s;
            &-active {
                background-color: $blue;
                box-shadow: 0 0 8px 2px $blue;
            }
            &:hover {
                background-color: $blue;
                opacity: 0.6;
            }
        }
    }
    &-control {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 10px;
    }
    &__pagination {
        display: flex;
        width: auto;
        justify-content: center;
    }
    .icon {
        width: 20px;
        height: 20px;
        fill: $white2;
    }
    &__prev,
    &__next {
        width: 32px;
        height: 32px;
        background: rgba($white2, .4);
        flex-shrink: 0;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white2;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background: rgba($white2, .6);
            transform: scale(1.3);
        }
    }
    &__prev > * {
        transform: rotate(180deg);
    }
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px 7px;
}
.slide {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
    > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &-content {
        position: absolute;
        max-width: 480px;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;

        background: $bgGradient5;
        padding: 80px;
        height: 100%;
        img, > a > svg {
            max-height: 100%;
            object-fit: contain;
            width: 100%;
            transition: 0.5s;
            max-height: 160px;
            &:hover {
                transform: scale(1.2);
            }
        }
        .platform-icons {
            display: flex;
            justify-content: space-between;
            .icon {
                fill: $white;
                color: $white;
                transition: 0.3s;
            }
            &.platform-yellow > a:hover .icon {
                fill: $yellow;
                color: $yellow;
            }
            &.platform-blue > a:hover .icon {
                fill: $blue;
                color: $blue;
            }
        }
    }
    &-one {
        position: absolute;
        left: 40px;
        right: 40px;
        display: flex;
        bottom: 20px;
        justify-content: space-between;
        gap: 20px;
        > div {
            border-radius: 10px;
            background: rgba($white2, .1);
            padding: 10px;
            max-width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            > img {
                flex-grow: 1;
                object-fit: contain;
            }
        }
        &__singUp {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            align-items: center;
            background: $bgGradient6;
            color: $white;
            border: none;
            border-radius: 4px;
            display: flex;
            height: 40px;
            justify-content: center;
            width: 100%;
            transition: 0.5s;
            &:hover {
                background: $bgGradient7;
                box-shadow: $shadow;
            }
        }
    }
}

.main {
    background: url('../images/bg/sparkle-bg.png');
    background-attachment: fixed;
    min-height: 100vh;
}

.games {
    display: flex;
    position: relative;
    color: $white;
    justify-content: flex-end;
    padding: 100px 80px;
    &__image {
        position: absolute;
        max-height: 100vh;
        object-fit: contain;
        bottom: -160px;
        left: 0;
        transform: translateY(100%);
        transition: 0.5s;
        &.active {
            transform: translateY(0);
        }
    }
    &-info {
        max-width: 730px;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        > h2 {
            margin-bottom: 24px;
            margin-top: 0;
        }
    }
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        margin-top: 10px;
        > a {
            border-radius: 5px;
            overflow: hidden;
            transition: .2s;
            box-shadow: 0 0px 40px -5px rgba($black, .5);
            &:hover {
                transform: scale(1.05);
                outline: solid 3px $white;
            }
        }
    }
}

.blog {
    background: url('../images/bg/blog_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    z-index: 1;
    position: relative;
    &-wrap {
        display: flex;
        gap: 40px;
    }
    &__item {
        > img {
            border-radius: 12px;
            transition: .2s;
            box-shadow: 0 0px 40px -5px rgba($black, .5);
            margin-bottom: 8px;
            max-height: 10vw;
            height: 100%;
            object-fit: cover;
            width: 100%;
            &:hover {
                transform: scale(1.05);
                outline: solid 3px $white;
            }

        }
        span {
            font-size: 14px;
        }
    }
    &__btn {
        margin-top: 40px;
    }
}

.pack {
    background: url('../images/bg/packs_bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    z-index: 1;
    position: relative;
    text-align: center;
    p {
        max-width: 760px;
        margin: 0 auto;
    }
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        justify-content: center;
    }
    &__item {
        max-width: 20%;
        width: 100%;
        > img {
            transition: .2s;
            max-height: 10vw;
            padding: 25px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__btn {
        max-width: 400px;
        width: 100%;
        margin-top: 50px;
    }
}

.friends {
    background: $bgGradient3;
    padding: 100px 0;
    z-index: 1;
    position: relative;
    > div {
        display: flex;
    }
    &-left {
        max-width: 440px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &-right {
        position: relative;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        .icon {
            max-height: 370px;
            height: 100%;
            transition: 0.5s;
            &:last-child {
                position: absolute;
                right: 0;
                transform: translateX(50vw);
            }
        }
        &.active .icon:last-child {
            transform: translateX(0);
        }
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
            background: $white2;
            border-bottom: 1px solid $dark2;
            color: $black2;
            outline: none;
            border: none;
            border-radius: 4px 4px 0 0;
            font-size: 14px;
            height: 40px;
            margin: auto;
            width: 100%;
            &::placeholder {
                opacity: 0.7;
            }
        }
    }
}

.questions {
    padding: 20px 0;
    > div {
        display: flex;
        gap: 20px;
        justify-content: space-around;
    }
    &-right {
        max-width: 800px;
        width: 100%;
    }
    &-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    &__img {
        display: flex;
        object-fit: contain;
        object-position: left top;
    }
    &-tab {
        &__content {
            display: grid;
            grid-template-rows: 0fr;
            overflow: hidden;
            transition: 0.5s;
            > div {
                overflow: hidden;
            }
            p {
                padding: 10px 0;
            }
        }
        &.active .questions-tab {
            &__content {
                grid-template-rows: 1fr;
            }
            &__title::after {
                transform: rotate(0);
            }
        }
        &__title {
            cursor: pointer;
            padding: 24px 16px;
            position: relative;
            background-color: $dark2;
            color: $white2;
            border: 1px solid $blue;
            border-radius: 4px;
            transition: 0.5s;
            &:hover {
                background-color: $dark;
            }
            &::after {
                content: '\2715';
                position: absolute;
                right: 15px;
                transition: transform 0.3s ease;
                font-size: 18px;
                font-weight: 200;
                transform: rotate(45deg);
            }
        }
    }
}

.footer {
    padding: 80px 0;
    background: $bgGradient4; 
    form {
        display: flex;
        gap: 10px;
        max-width: 630px;
        width: 100%;
        margin-top: 10px;
        input {
            font-size: 14px;
            height: 100%;
        }
        .input-with-icon {
            height: 48px;
            flex-grow: 1;
        }
    }
    &__btn {
        max-width: 140px;

    }
    &-contact {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        border-bottom: 1px solid $white2;
        padding-bottom: 20px;
    }
    &-logo {
        margin-bottom: 30px;
        display: flex;
    }
    &-info {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        p {
            flex-grow: 1;
        }
        a:hover {
            color: $blue;
        }
    }
}


.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    &__btn:hover {
        background: $blue2;
        color: $dark;
    }
}

.modal.active {
  display: flex;
}

.modal__content {
  background: $white;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  padding: 40px;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
        padding: 12px;
        background: $white3;
        color: $black;
        &::placeholder {
            color: $black;
        }
    }
  }
}
.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}