$mainBlack: #353443;
$black: #000;
$black2: #181c23;
$white: #FFFFFF;
$white2: #f7f8f9;
$white3: #e0e4fd;
$bg: #F7F8FB;
$bgGradient1: linear-gradient(180deg, #1a1f26 7%, #181c23 36%, #14171f 71%, #000 100%);
$bgGradient2: linear-gradient(180deg, $black 27.08%, hsla(0, 0%, 100%, 0));
$bgGradient3: radial-gradient(76.37% 50% at 50% 50%,#419544 28.89%,#276829);
$bgGradient4: linear-gradient(180deg, transparent, #000);
$bgGradient5: linear-gradient(90deg, rgba($black, .7), rgba($black, .4) 80%, transparent);
$bgGradient6: linear-gradient(92.89deg, #6aa4fe .06%, #6070e5 100.06%);

$bgGradient7: linear-gradient(92.89deg, #96bffe .06%, #6070e5 100.06%);
$shadow: 0 0 23.98px #81b1fda3, 0 0 13.988px #81b1fd8f, 0 0 6.994px #81b1fd, 0 0 1.998px #81b1fd, 0 0 .999px #81b1fd;
$shadow2: 0 0 0 9999px rgba(0, 0, 0, .5);

$dark: #30333a;
$dark2: #3a3c43;
$blue: #b2bbff;
$blue2: #8c99fe;
$blue3: #4d578c;
$yellow: #ffe461;
$darkBlue: #71768e;

$ff: 'Inter';
