header{
    background-color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    min-width: 1200px;
    position: sticky;
    top: 0;
}
.content{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.preloader{
    width: 60px;
    height: 60px;
}
.logo {
    height: auto;
    width: auto;
}
.logo img{
    height: 50px;
    width: 50px;
    margin: 5px;
    object-fit: cover;
}
.title{
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 22px;
}
.login,.NavLogin{
    align-self: center;
    margin: 0 10px;
}
.btnLogout{
    border: 1px solid rgba(0,0,0,0.3);
    padding: 0.25rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 1rem;
    background-color: #efefef;
    transition: all 0.6s;
}
.btnLogout:hover{
    background-color: #f7f7f7;
    border-color: #09d3ac;
}
.authWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}