header{
    background-color: #ccc;
    min-width: 1200px;
}
.content{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.preloader{
    width: 60px;
    height: 60px;
}
.logo {
    height: auto;
    width: auto;
}
.logo img{
    height: 50px;
    width: 50px;
    margin: 5px;
    object-fit: cover;
}
.title{
    width: 100%;
    text-align: center;
    align-self: center;
    font-size: 22px;
}
.login,.NavLogin{
    align-self: center;
    margin: 0 10px;
}

.btnLogout{
    border: none;
}
.authWrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}