ul{
  padding-left: 0;
  margin-bottom: 0;
}
li{
  list-style-type: none;
}
/* Reset */
a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}

/* Custom */
/* section-header */
.section-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.header-btsMobile{
  height: 50px;
  width: 40px;
  cursor: pointer;
  position: relative;
}
.header-btsMobile__item{
  height: 4px;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000;
  transform: translate(-50%,-50%);
  transition: all 0.5s;
}
.header-btsMobile__item:before,
.header-btsMobile__item:after{
  content: '';
  position: absolute;
  transition: all .5s;
  left: 50%;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  background-color: #000;
}
.header-btsMobile__item:before{
  top: 10px;
  transform: translate(-50%,0%) rotate(0deg);
}
.header-btsMobile__item:after{
  bottom: 10px;
  transform: translate(-50%,0%) rotate(0deg);
}
.section-header.active .header-btsMobile__item:before{
  top: 0px;
  transform: translate(-50%,-50%) rotate(225deg);
}
.section-header.active .header-btsMobile__item:after{
  bottom: 0px;
  transform: translate(-50%,-50%) rotate(-225deg);
}
.section-header.active .header-btsMobile__item{
  transform: translate(-50%,-50%) rotate(90deg);
  background: rgba(0, 0, 0, 0);
}
.header-nav{
  max-height: 0;
  overflow-y: auto;
  transition: all 0.5s;
  padding: 0 1rem;
}
.section-header.active .header-nav{
  max-height: 90vh;
  padding: 1rem;
  background-color: #eee;
  box-shadow: 0 100vh 0 100vh rgba(0,0,0,0.5);
}

.header-nav__item a.header-titleEnd,
.header-nav__item a.header-title{
  display: flex;
  border-bottom: 2px solid transparent;
  padding: 0.25rem 0;
  align-items: center;
  justify-content: space-between;
}
.header-navDop__item{
  padding: 0.25rem 0;
}
.header-navDop__item{
  overflow: hidden;
}
.header-navDop{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.5s;
}
.header-dopUl{
  position: relative;
}
.header-dopUl.active>.header-navDop{
  max-height: 100vh;
  opacity: 1;
  pointer-events: painted;
}
.header-dopUl>a i{
  transition: all 0.4s;
}
.header-dopUl.active>a i{
  transform: rotate(180deg);
}
.header-dopUl::after{
  content: '';
  position: absolute;
  top: 0;
  right: 2rem;
  width: 2px;
  height: 3rem;
  background-color: #ccc;
  border-radius: 1px;
}

@media(min-width: 992px){
  .header-nav__item:hover>.header-title,
  .header-navDop__item:hover>.header-title,
  .header-navDop a.header-titleEnd:hover{
    border-color:orange;
    position: relative;
    z-index: 4;
  }
  .header-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s;
    padding: 0.5rem 0;
    overflow-y: initial;
    max-height: 100%;
  }
  .header-nav__item:hover .header-navDop{
    max-height: 100vh;
    opacity: 1;
    pointer-events: painted;
  }
  .header-nav__item>.header-navDop{
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 100vh 0 100vh rgba(0,0,0,0.5);
    background-color: #eee;
    display: flex;
  }
  .header-dopUl{
    position: static;
  }
  .header-dopUl::after{
    display: none;
  }
}